<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Inventario</title>
    <link rel="stylesheet" href="../../public/css/styleInventario.css">
    </head>

    <body>
        <div class="button-container">
            <h1>INVENTARIO</h1>
            <p>¿Qué desear hacer?</p>
            <div class="botones">
                <button class="boton">Buscar</button>
                <button class="boton">Actualizar</button>
                <button class="boton">Agregar</button>
            </div>

        <div class="lado-derecho">
            
        </div>
</body>
</html>
