{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Tratamiento Material</title>
    <link rel="stylesheet" href="{% static 'css/styleAgregarTratamientoMaterial.css' %}">
</head>
<body>
    <div class="container">
        <h1>Agregar Materiales al Tratamiento</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <!-- Mostrar cada campo. -->
                    <!-- Usa field.id_for_label para asociar el label con el input correspondiente. -->
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <!-- Muestra errores de validación para cada campo. -->
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
    </div>
<div class="modal fade" id="fechaModal" tabindex="-1" role="dialog" aria-labelledby="fechaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="fechaModalLabel">Seleccionar Fecha</h5>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <input type="date" name="fecha_transaccion" class="form-control">
            <!-- Campo oculto para pasar el ID del tratamiento -->
            <input type="hidden" name="tratamiento_id" value="{{ tratamiento.idtratamientno }}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock %}
