{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Citas</title>
</head>
<body>
    <h1>Listado de Dentistas</h1>
    <button class="boton" onclick="location.href='dentistas/agregar_dentista/';">Agregar Citas</button>
    <table border="1">
        <thead>
            <tr>
                <th>ID Paciente</th>
                <th>ID Citas</th>
                <th>Fecha Propuesta</th>
                <th>Estado</th>

            </tr>
        </thead>
        <tbody>
            {% for cita in citas %}
                <tr>
                    <td>{{ cita.paciente_idpaciente }}</td>
                    <td>{{ cita.idcita }}</td>
                    <td>{{ cita.fecha_propuesta }}</td>
                    <td>{{ cita.estado }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>