{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura</title>
    <link rel="stylesheet" href="{% static 'css/styleFactura.css' %}">
</head>
<body>
    <div class="invoice">
        <div class="invoice-header">
            <div class="logo">
                <img src="{% static 'img/logo_paz.png' %}">
            </div>
            <div class="company-info">
                <h1>Clínica de Especialidades La Paz</h1>
                <p>Dirección: 4ta calle 23-61 zona 3</p>
                <p>Quetzaltenango</p>
                <p>Teléfono: +123456789</p>
                <p>Email: clinica_especialidades_lapaz@gmail.com</p>
            </div>
        </div>
        <div class="invoice-details">
            <div class="customer-info">
                <h2>Cliente:</h2>
                <p>Nombre del Cliente: {{ paciente.nombre }} {{ paciente.apellido }}</p>
                <p>Número Telefónico: {{ paciente.numero_telefonico }}</p>
                <p>Edad: {{ paciente.edad }}</p>
                <p>Número de Seguro: {{ paciente.numero_seguro }}</p>
            </div>
        </div>
        <table class="invoice-table">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ tratamiento.detalle }}</td>
                    <td>{{ tratamiento.cantidad_citas }}</td>
                    <td>Q{{ tratamiento.precio }}</td>
                    <td>Q{{ total }}</td>
                </tr>
                <!-- Añade más filas aquí si necesitas -->
            </tbody>
        </table>
        <div class="invoice-total">
            <p>Total: Q{{ total }}</p>
        </div>
    </div>
</body>
</html>
{% endblock %}