{% block content %}
{% load math_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Inventario</title>
    <a href="{% url 'index' %}" class="back-btn">Inicio</a>
    <link rel="stylesheet" href="{% static 'css/styleInventario.css' %}">
    </head>
    <header style="background-image: url('{% static 'img/bannerinventario.jpg' %}'); background-size: cover; height: 250px; overflow: hidden;"></headerstyle>
        <h1>INVENTARIO</h1>
    </header>
    <body>
        <div class="button-container">
            <h1>¿Qué desear hacer?</h1>
            <div class="botones">
                <button class="boton" onclick="location.href='buscar_material/';">Buscar por nombre</button>
                <button class="boton" onclick="location.href='listaMateriales/';">Ver listado de Materiales</button>
                <button class="boton" onclick="location.href='agregar_material/';">Agregar nuevo material</button>
            </div>    
        </div>

        <table>
            <thead>
                <tr>
                    <th>Id Material</th>
                    <th>Descripcion</th>
                    <th>Serie o Modelo</th>
                    <th>Cantidad</th>
                    <th>Precio Individual</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{ material.idmaterial }}</td>
                    <td>{{ material.descripcion }}</td>
                    <td>{{ material.serie_modelo }}</td>
                    <td>{{ material.cantidad }}</td>
                    <td>{{ material.precio_individual }}</td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
{% endblock %}

