{% block content %}
{% load math_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo de Inventario</title>
    <a href="{% url 'index' %}" class="back-btn">Inicio</a>
    <link rel="stylesheet" href="{% static 'css/styleInventario.css' %}">
    </head>
    <header style="background-image: url('{% static 'img/bannerinventario.jpg' %}'); background-size: cover; height: 250px; overflow: hidden;"></headerstyle>
        <h1>INVENTARIO</h1>
    </header>
    <body>
        <div class="button-container">
            <div class="botones">
                <button class="boton" onclick="location.href='agregar_material/';">Agregar nuevo material</button>
            </div>    
         <div class="search-container">
    <form method="POST" action="{% url 'buscar_material' %}">
      {% csrf_token %}
      <input type="text" name="busqueda" placeholder="Buscar por descripcion, cantidad o precio">
      <button type="submit" class="btn btn-buscar">Buscar</button>
    </form>
  </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Id Material</th>
                    <th>Descripcion</th>
                    <th>Serie o Modelo</th>
                    <th>Cantidad</th>
                    <th>Precio Individual</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for material in materiales %}
                <tr>
                    <td>{{ material.idmaterial }}</td>
                    <td>{{ material.descripcion }}</td>
                    <td>{{ material.serie_modelo }}</td>
                    <td>{{ material.cantidad }}</td>
                    <td>{{ material.precio_individual }}</td>
                    <td>
                        <a href="{% url 'actualizar_material' material.idmaterial %}" class="btn btn-sm btn-primary">Actualizar</a>
                        <a href="{% url 'borrar_material' material.idmaterial %}" class="btn btn-sm btn-danger">Borrar</a>
                    </td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>
{% endblock %}

