{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Dentistas</title>
    <link rel="stylesheet" href="{% static 'css/styleListarDentista.css' %}">
</head>
<body>
    <div class="title-container">
        <h1 class="title">Listado de Dentistas</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Número de Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Número Colegiado</th>
                <th>Especialidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dentista in dentistas %}
                <tr>
                    <td>{{ dentista.nombre }}</td>
                    <td>{{ dentista.apellido }}</td>
                    <td>{{ dentista.numero_telefono }}</td>
                    <td>{{ dentista.correo_electronico }}</td>
                    <td>{{ dentista.no_colegiado }}</td>
                    <td>{{ dentista.tipo_especialidad_idtipo_especialidad }}</td>
                    <td>
                        <button class="edit-btn">Editar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
