{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de Asistentes</title>
    <link rel="stylesheet" href="{% static 'css/styleListarAsistentes.css' %}">
</head>
<body>
    <div class="title-container">
        <h1 class="title">Listado de Asistentes</h1>
    </div>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Escolaridad</th>
                <th>Salario</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for asistente in asistentes %}
                <tr>
                    <td>{{ asistente.nombre }}</td>
                    <td>{{ asistente.apellido }}</td>
                    <td>{{ asistente.escolaridad }}</td>
                    <td>{{ asistente.salario }}</td>
                    <td>
                        <a href="{% url 'eliminar_asistente' asistente.idasistente %}" class="btn btn-sm btn-danger">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
