{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">

{{error}}

<div class="background-image" style="background-image: url('{% static 'img/fondo.jpg' %}')">
    <form action="/login/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        
        <button>
            Login
        </button>
        <div class="signup-link">
            <span>¿No tienes cuenta?</span> 
            <a href="{% url 'signup' %}" class="form_signup">Sign up</a>
        </div>
    </form>
</div>

{% endblock %}

