{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gestión de Dentistas y Asistentes</title>
<link rel="stylesheet" href="{% static 'css/styleRecursosHumanos.css' %}">
</head>
<body>

<div id="formulario-dentista" class="formulario hidden">
  <h2 class="subtitle">Agregar Dentista</h2>
  <form id="dentista-form">
    <label for="foto-dentista">Foto (URL):</label><br>
    <input type="text" id="foto-dentista" name="foto-dentista"><br>
    <label for="nombre-dentista">Nombre:</label><br>
    <input type="text" id="nombre-dentista" name="nombre-dentista"><br>

    <input type="text" id="colegiado-dentista" name="colegiado-dentista"><br>
    <label for="especialidad-dentista">Especialidad:</label><br>
    <input type="text" id="especialidad-dentista" name="especialidad-dentista"><br><br>
    <button type="button" onclick="agregarDentista()">Agregar Dentista</button>
    <button type="button" onclick="cancelar('dentista')">Cancelar</button>
  </form>
</div>

  <h2 class="subtitle">Asistentes</h2>
</div>

<div id="asistentes-container"></div>

<div style="text-align: center;">
  <button class="btn" onclick="mostrarFormulario('asistente')">Agregar Asistente</button>
</div>


<div id="formulario-asistente" class="formulario hidden">
  <h2 class="subtitle">Agregar Asistente</h2>
  <form id="asistente-form">
    <label for="foto-asistente">Foto (URL):</label><br>
    <input type="text" id="foto-asistente" name="foto-asistente"><br>
    <label for="nombre-asistente">Nombre:</label><br>
    <input type="text" id="nombre-asistente" name="nombre-asistente"><br>

    <input type="text" id="escolaridad-asistente" name="escolaridad-asistente"><br>
    <label for="salario-asistente">Salario:</label><br>
    <input type="text" id="salario-asistente" name="salario-asistente"><br><br>
    <button type="button" onclick="agregarAsistente()">Agregar Asistente</button>
    <button type="button" onclick="cancelar('asistente')">Cancelar</button>
  </form>
</div>

<script src="{% static 'js/scriptHumanos.js' %}"></script>

</body>
</html>

{% endblock %}