{% block content %}

{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos Humanos</title>
    <link rel="stylesheet"  href="{% static 'css/styleRecursosHumanos.css' %}">
</head>
<body>
    <div class="background-image">
        <div class="content">
            <h1>Recursos Humanos</h1>
            <a href="{% url 'index' %}" class="back-btn">Inicio</a>
            <h2>Dentistas</h2>
            <button class="boton" onclick="location.href='dentistas/listar_dentistas/';">Ver listado de Dentistas</button>
            <button class="boton" onclick="location.href='dentistas/agregar_dentista/';">Agregar Dentistas</button>
            <br><br>
            <h2>Asistentes</h2>
            <button class="boton" onclick="location.href='asistente/listar_asistente/';">Ver listado de Asistentes</button>
            <button class="boton" onclick="location.href='asistente/agregar_asistente';">Agregar Asistente</button>
        </div>
    </div>
</body>
</html>

{% endblock %}