{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Ventas - Clínica Dental</title>
  <a href="{% url 'index' %}" class="back-btn">🏠</a>
  <link rel="stylesheet" href="{% static 'css/styleVenta.css' %}">
</head>
<body>
  <header style="background-image: url('{% static 'img/banner3.jpg' %}'); background-size: cover; height: 250px; overflow: hidden;">
      <h1>Lista de Tratamientos</h1>
  </header>

<body>
  <button class="btn btn-sm btn-crear" onclick="location.href='/tratamiento/';">Crear Tratamiento</button>
  <table>
      <thead>
          <tr>
              <th>Id Tratamiento</th>
              <th>Detalle</th>
              <th>Precio</th>
              <th>Cantidad de Citas</th>
              <th>Cita ID</th>
              <th>Asistente ID</th>
          </tr>
      </thead>
      <tbody>
          {% for tratamiento in tratamientos %}
          <tr>
              <td>{{ tratamiento.idtratamientno }}</td>
              <td>{{ tratamiento.detalle }}</td>
              <td>{{ tratamiento.precio }}</td>
              <td>{{ tratamiento.cantidad_citas }}</td>
              <td>{{ tratamiento.cita_idcita }}</td>
              <td>{{ tratamiento.asistente_idasistente }}</td>
              <td>
                <a href="{% url 'actualizar_tratamiento' tratamiento.idtratamientno %}" class="btn btn-sm btn-primary">Actualizar</a>
                <a href="{% url 'borrar_tratamiento' tratamiento.idtratamientno %}" class="btn btn-sm btn-danger">Borrar</a>
                <a href="{% url 'agregar_tratamiento_material' tratamiento.idtratamientno %}" class="btn btn-sm btn-yellow">Agregar Materiales</a>
                <a href="{% url 'factura' tratamiento.idtratamientno %}" class="btn btn-sm btn-info">Ver Factura</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</body>
</html>
{% endblock %} 
