{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Ventas - Clínica Dental</title>
  <link rel="stylesheet" href="{% static 'css/styleVenta.css' %}">
</head>
<body>
  <h1>Lista de Tratamientos</h1>
  <button onclick="location.href='/tratamiento/';">Crear Tratamiento</button>
  <table>
      <thead>
          <tr>
              <th>Id Tratamiento</th>
              <th>Detalle</th>
              <th>Precio</th>
              <th>Cantidad de Citas</th>
              <th>Cita ID</th>
              <th>Asistente ID</th>
          </tr>
      </thead>
      <tbody>
          {% for tratamiento in tratamientos %}
          <tr>
              <td>{{ tratamiento.idtratamientno }}</td>
              <td>{{ tratamiento.detalle }}</td>
              <td>{{ tratamiento.precio }}</td>
              <td>{{ tratamiento.cantidad_citas }}</td>
              <td>{{ tratamiento.cita_idcita }}</td>
              <td>{{ tratamiento.asistente_idasistente }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</body>
</html>
{% endblock %} 
