{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Ventas - Clínica Dental</title>
  <link rel="stylesheet" href="{% static 'css/styleVenta.css' %}">
</head>
<body>
  <div id="app">
    <div class="container">
      <div class="title-container">
        <h1>Gestión de Ventas - Clínica Dental</h1>
      </div>
      <div id="services-container">
        <!-- Botones de servicios predeterminados -->
        <button class="service-btn" onclick="addSale('Limpieza Dental')">Limpieza Dental</button>
        <button class="service-btn" onclick="addSale('Relleno Dental')">Relleno Dental</button>
        <button class="service-btn" onclick="addSale('Corona Dental')">Corona Dental</button>
        <button class="service-btn" onclick="addSale('Ortodoncia')">Ortodoncia</button>
        <button class="service-btn" onclick="addSale('Puente Dental')">Puente Dental</button>
        <!-- Botones de servicios agregados por el usuario se añadirán aquí -->
      </div>
      <div id="add-service-form">
        <input type="text" id="new-service-input" placeholder="Nombre del Nuevo Servicio">
        <button onclick="addCustomService()">Agregar Servicio</button>
      </div>
    </div>
  </div>
  <a href="{% url 'factura' %}">Ver factura</a>
  <script src="{% static 'js/scriptVenta.js' %}"></script>
</body>
</html>
{% endblock %} 
