html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.title-container {
  background-color: #66CCCC;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#services-container {
  margin-top: 20px;
}

.service-btn {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-service-form {
  margin-top: 20px;
}

#add-service-form input[type="text"],
#add-service-form button {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

#add-service-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#add-service-form input[type="text"] {
  width: 200px;
}
