{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
</head>
<body>
    <header>
        <h1>Clinica de Especialidades la Paz</h1>
    </header>
    <nav>
        <ul class="menu-bar">
            <li><a href="{% url 'inventario' %}">Inventario</a></li>
            <li><a href="{% url 'ventas' %}">Ventas</a></li>
            <li><a href="{% url 'recursosHumanos' %}">Recursos Humanos</a></li>
            <li><a href="{% url 'financiero' %}">Financiero</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <h1>MÓDULOS DEL PROGRAMA</h1>
    <div class="carrusel">
        <div class="atras">
            <img id="atras" src="img/atras.svg" alt="atras" loading="lazy">
        </div>

        <div class="imagenes">
            <div id="img">
                <img class="img" src="img/inventario.webp" alt="imagen 1" loading="lazy">
            </div>
            
            <div id="texto" class="texto">
                <h3>INVENTARIO</h3>
                <p>
                    La parte de inventario fue hecha con la finalidad de poder llevar un control
                    sobre los materiales que se encuentran en la clínica.
                </p>
            </div>
        </div>

        <div class="adelante" id="adelante">
            <img src="img/adelante.svg" alt="adelante" loading="lazy">
        </div>
    </div>

    <div class="puntos" id="puntos"></div>

    <script src="{% static 'js/scriptIndex.js' %}"></script>
</body>
</html>
{% endblock %}
