body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

.botones {
  margin-top: 20px;
}

.boton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.boton:hover {
  background-color: #699acf;
}

table {
  width: 80%;
  border-collapse:collapse;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #1a81f0;
  color: white;
}

tbody tr:hover {
  background-color: #6de3e7;
}

h1 {
  color: #007bff;
}

p {
  color: #333;
  margin-bottom: 20px;
}

.back-btn {
  position: fixed; /* O "absolute", dependiendo de cómo quieras que se comporte respecto al scrolling */
  top: 10px; /* Margen superior */
  right: 10px; /* Margen derecho */
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.back-btn:hover {
  background-color: #0056b3;
}