body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f7ff; /* Azul claro para el fondo */
  color: #333; /* Color de texto */
}

.background-image {
  background-image: url('../img/clinica-dental\ \(1\).jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Alinear elementos en columna */
}

.content {
  text-align: center;
}

h1, h2 {
  color: #0066ff; /* Azul oscuro para los títulos */
  margin-top: 0; /* Eliminar margen superior por defecto */
}

.boton {
  background-color: #0066ff; /* Azul oscuro para los botones */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #0052cc; /* Cambio de color al pasar el cursor sobre el botón */
}
