body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.background-image {
    background-image: url("{% static 'img/fondo.jpg' %}");
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    width: 100%; /* Ajusta el ancho del contenedor */
    height: 100%; /* Ajusta la altura del contenedor */
    display: flex; /* Permite centrar el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajusta el ancho del formulario según necesites */
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 0;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    display: block; /* Asegura que el botón se expanda al ancho del contenedor */
}

button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link span {
    margin-right: 5px;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
