/* Estilos para el encabezado */
header {
    background-size: cover;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Estilos para el título */
header h1 {
    color: #fff; /* Color del texto */
    font-size: 32px; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto */
    margin: 0; /* Elimina el margen por defecto */
}

body h2 {
    color: #fff; /* Color del texto */
    font-size: 32px; /* Tamaño de fuente */
    text-align: center; /* Alineación del texto */
    margin: 0; /* Elimina el margen por defecto */
}
/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-flexbox;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: rgb(231, 231, 233);
    color: skyblue;
}


/* Reset básico para la lista */
.menu-bar {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #2890ff;
    text-align: center;
}

.menu-bar li {
    display: inline-flex;
}

.menu-bar li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-bar li a:hover,
.menu-bar li a:focus {
    background-color: #587ba0;
    color: #ffffff;
}

/* Estilos personalizados para el dashboard */

.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

/* Cambia .h1 por h1 */
h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}
