/* styleCita.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#navigation {
    margin-bottom: 20px;
}

#navigation button {
    margin-right: 5px;
    padding: 5px 10px;
}

#currentMonthYear {
    font-weight: bold;
    margin: 0 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: top;
}

th {
    background-color: #f4f4f4;
}

.day-number {
    font-weight: bold;
}

.cita-label {
    background-color: #e8f0fe;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.85em;
}


td div {
    min-height: 50px; /* Minimum height for content */
    overflow-y: auto; /* Allows scrolling within the cell if content overflows */
}
.cita-dot {
    height: 10px;
    width: 10px;
    background-color: #007BFF;
    border-radius: 50%;
    display: inline-block;
}

.cita-details {
    margin-top: 5px;
}

.cita-info {
    background-color: #f0f0f0;
    padding: 5px;
    margin-top: 2px;
    border-radius: 4px;
}
#allCitas {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

pre {
    white-space: pre-wrap; /* Ensures preformatted text is nicely wrapped */
    word-wrap: break-word;
}
