h1 {
  text-align: center; /* Centra el texto del título */
  margin-top: 20px; /* Añade un margen superior para separarlo del contenido anterior */
  margin-bottom: 30px; /* Añade un margen inferior para separarlo de la tabla */
  color: #333; /* Cambia el color del texto */
  font-family: 'Arial', sans-serif; /* Cambia la fuente del texto */
}

table {
  width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
  border-collapse: collapse; /* Elimina el espacio entre las celdas */
  text-align: left; /* Alinea el texto a la izquierda */
}

th, td {
  padding: 8px; /* Añade un poco de espacio alrededor del texto en las celdas */
  border: 1px solid #ddd; /* Añade un borde a las celdas */
}

th {
  background-color: #4CAF50; /* Color de fondo para los encabezados de la tabla */
  color: white; /* Color del texto para los encabezados */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Añade un color de fondo a las filas pares para mejorar la legibilidad */
}

tr:hover {
  background-color: #ddd; /* Cambia el color de fondo de la fila al pasar el mouse sobre ella */
}
