body {
    margin: 0;
    padding: 0;
    background-image: blue;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    color: rgb(24, 109, 128);
    text-align: center;
}
h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.botones {
    display: ruby;
    justify-content: center;
    align-items: center;
}
.boton {
    background-color: rgb(129, 235, 217);
    color: rgb(7, 143, 134);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton:hover {
    background-color: #2dafeb;
}