body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

.background-image {
    background-image: url("{% static 'img/fondo.jpg' %}");
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    opacity: 0.9; /* Ajusta la opacidad de la imagen de fondo */
    width: 100%; /* Ajusta el ancho del contenedor */
    height: 100%; /* Ajusta la altura del contenedor */
    display: flex; /* Permite centrar el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Aumenta el radio de los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    max-width: 600px;
    margin: auto;

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex; /* Cambia el comportamiento a disposición en línea */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 20px; /* Aumenta el espacio entre grupos de formulario */
}

.form-group label {
    margin-bottom: 0; /* Elimina el margen inferior para alinear mejor con el checkbox */
    margin-right: 10px; /* Añade un pequeño margen entre el checkbox y el texto */
    font-weight: bold;
}

.form-group input[type="checkbox"] {
    margin-right: 10px; /* Ajusta el margen derecho del checkbox */
}

.form-group input[type="number"] {
    width: 80px; /* Establece un ancho fijo para el input de números */
    margin-left: auto; /* Empuja el input de números hacia la derecha */
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Opcional: Estilos para mejorar la visualización de los errores */
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
}
