{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica de Especiliadades la Paz</title>
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<header style="background-image: url('{% static 'img/banner2.webp' %}'); background-size: cover; height: 200px; overflow: hidden;">
    <img src="{% static 'img/logo_paz.png' %}" alt="Logo 1" class="logo1">
    <img src="{% static 'img/logo2.png' %}" alt="Logo 2" class="logo2">
    <h1>Clinica de Especialidades la Paz</h1>
</header>
<body >
    
    <nav>
        <ul class="menu-bar">
            <li><a href="{% url 'pacientes' %}">Pacientes</a></li>
            <li><a href="{% url 'inventario' %}">Inventario</a></li>
            <li><a href="{% url 'ventas' %}">Ventas</a></li>
            <li><a href="{% url 'recursosHumanos' %}">Recursos Humanos</a></li>
            <li><a href="{% url 'financiero' %}">Financiero</a></li>
            <li><a href="{% url 'bussines' %}">Bussines Intelligence</a></li>
            <li><a href="{% url 'citas' %}">Citas</a></li>
            <li><a href="{% url 'signin' %}">Salir</a></li>
        </ul>
    </nav>
    
    <div class="container mt-5">
        <h2>Manejo de la clinica.</h2>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-users"></i> Pacientes Actuales</h5>
                <p class="card-text">Total de pacientes: {{ total_pacientes }}</p>
                <a href="{% url 'pacientes' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>

            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-box-open"></i>Material.</h5>
                <p class="card-text">Total de materiales: {{ material }}</p>
                <a href="{% url 'inventario' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>

            
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-teeth"></i>Tratamientos.</h5>
                <p class="card-text">Total de tratamientos: {{ tratamiento }}</p>
                <a href="{% url 'ventas' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>

            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-users"></i> Recursos Humanos.</h5>
                <p class="card-text">Dentistas laborando en la clinica: {{dentista}}.</p>
                <p class="card-text">Asistentes laborando en la clinica: {{asistente}}.</p>
                <a href="{% url 'recursosHumanos' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>

            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-money-bill-alt"></i>Financiero</h5>
                <p class="card-text">Total de pacientes: {{ total_pacientes }}</p>
                <a href="{% url 'financiero' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>

            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-business-time"></i>Bussines Inteligence</h5>
                <p class="card-text">Bonificaciones. </p>
                <a href="{% url 'financiero' %}" class="btn btn-primary">Ver detalles <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>

    </div>
</body>
</html>
{% endblock %}
