{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinica de Especiliadades la Paz</title>
    <link rel="stylesheet" href="{% static 'css/styleIndex.css' %}">
</head>
<header style="background-image: url('{% static 'img/banner2.webp' %}'); background-size: cover; height: 200px; overflow: hidden;">
    <h1>Clinica de Especialidades la Paz</h1>
</header>
<body>

    <nav>
        <ul class="menu-bar">
            <li><a href="{% url 'inventario' %}">Inventario</a></li>
            <li><a href="{% url 'ventas' %}">Ventas</a></li>
            <li><a href="{% url 'recursosHumanos' %}">Recursos Humanos</a></li>
            <li><a href="{% url 'financiero' %}">Financiero</a></li>
            <li><a href="{% url 'bussines' %}">Bussines Inteligence</a></li>
            <li><a href="{% url 'financiero' %}">Citas</a></li>
            <li><a href="{% url 'signin' %}">Logout</a></li>
        </ul>
    </nav>
</body>
</html>
{% endblock %}
